  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  main {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px -2px #BABABA;
    border-radius: 10px;
  }

  .ruler {
    display: flex;
    flex-direction: column;
  }

  .displayNum {
    font-size: 3em;
    font-weight: bold;
  }

  .rulerImg {
    height: auto;
    width: 100%;
  }

  .arrow {
    height: auto;
    width: 30px;
  }

  .output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  .valueBlock {
    display: flex;
    flex-direction: row;
    font-size: 2em;
  }

  .valueBlock:nth-child(1) {
    margin: 10px 0;
  }

  .input {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
  }

  .inputField{
    text-align: center;
    height: 25px;
    width: 250px;
    font-size: 1.2em;
  }

  button {
    height: 35px;
    width: 250px;
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 5px;
    background-color: #5fb2a6;
    color: white;
  }

  @media only screen and (max-width: 535px) {
    header {
      font-size: 1.4em;
      margin-bottom: 5px;
    }
  
    .valueBlock {
      font-size: 1.8em;
    }
  
    .inputField{
      height: 25px;
      width: 250px;
      font-size: 1.2em;
    }
  }