  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  main {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px -2px #BABABA;
    border-radius: 10px;
    height: 500px;
    width: 400px;
  }

  /* .ruler {
    position: relative;
  }

  .displayNum {
    position: absolute;
    top: 25px;
    left: 75px;
    font-size: 3em;
    font-weight: bold;
  }

  .rulerImg {
    height: 355.55px;
    width: 800px;
    margin-bottom: 100px;
  }

  .arrow {
    margin: 0;
    position: absolute;
    height: auto;
    width: 45px;
    top: 355.55px;
    left: 90px;
  } */

  .output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  .valueBlockHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    width: 225px;
    margin: 10px 0;
  }

  .valueBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    width: 225px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  /* .valueBlock>div:nth-child(1) {
    width: 150px;
  }

  .valueBlock>div:nth-child(2) {
    text-align: center;
    height: 40px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
  } */

  .input {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
  }

  .inputField{
    text-align: center;
    height: 25px;
    width: 225px;
    margin: 0 auto;
    font-size: 1.2em;
  }

  button {
    height: 35px;
    width: 250px;
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 5px;
    background-color: #5fb2a6;
    color: white;
  }

  @media only screen and (max-width: 535px) {
    header {
      font-size: 1.4em;
      margin-bottom: 5px;
    }
  
    .valueBlock {
      font-size: 1.8em;
    }
  
    .inputField{
      height: 25px;
      width: 250px;
      font-size: 1.2em;
    }
  }