/* ____________ All Pages ____________ */
* {
  font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #232121;
}

.background {
    position: fixed;
    z-index: -1;
    background-image: url(/images/treeBackground.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 110vw;
    height: 100vh;
    top: 100px;
    left: 100px;
}

nav {
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10vw;
    top: 45vh;
}

.nav-element{
    text-decoration: none;
    text-align: right;
    font-size: 1.2em;
    color: white;
    margin-right: 20px;
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-direction: column;
}

/* ____________ Index Page ____________ */

header  {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.headline {
    color: white;
    width: 500px;
    font-size: 1.5em;
    font-style: italic;
    margin: 0 0 0 15vw;
}

.web {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.web-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30vw;
    background-color: #f2b686;
}

.web-title {
    font-size: 2em;
}

.web-right {
    height: 100vh;
    width: 70vw;
    background-color: white;
}

.product {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.product-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30vw;
    background-color: #232121;
}

.product-title {
    font-size: 2em;
    color: #6bd6c2;
}

.product-right {
    height: 100vh;
    width: 70vw;
    background-color: white;
}

.graphic {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.graphic-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30vw;
    background-color: white;
}

.graphic-title {
    font-size: 2em;
    color: #f2b686;
}

.graphic-right {
    height: 100vh;
    width: 70vw;
    background-color: white;
}

/* ____________ Gallery ____________ */

.gallery {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.about {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.about-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30vw;
    background-color: #6bd6c2;
}

.about-title {
    font-size: 2em;
    color: white;
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70vw;
    background-color: white;
}

.about-img {
    width: 20vw;
    margin: 10px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.icons {
    height: 50px;
    width: 50px;
    margin: 5px;
}

/* ____________ Product Design ____________ */

.article-page {
    display: flex;
}

.article-container {
    display: flex;
    height: 45vh;
    width: 100vw;
    box-shadow: 0px 0px 7px 5px #BABABA;
}

.article-img {
    border: 1px solid black;
    height: 45vh;
    width: 45vh;
    overflow: hidden;
    object-fit: cover;
    margin: auto;
}

.article-right {
    border: 1px solid black;
    width: 60vw;
}

/* ____________ Index Page ____________ */

@media only screen and (max-width: 450px) {
    
}

/* ____________ Website Desgin ____________ */




