* {
  font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2c3532;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    top: 30px;
}

.nav-left {
    display: flex;
    flex-direction: row;
}

.nav-right {
    display: flex;
    flex-direction: row;
}

.nav-element-left {
    text-align: left;
    font-size: 1.8em;
    color: white;
    margin-left: 30px;
}

.nav-element-right {
    text-align: right;
    font-size: 1.2em;
    color: white;
    margin-right: 30px;
}

header {
    display: flex;
    align-items: center;
    height: 100vh;
}

.header-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 2px solid white;
    background-color: #2c3532;
}

.header-left {
    margin-bottom: 50px;
}

.header-element-left {
    text-align: right;
    font-size: 1.8em;
    color: white;
    margin: 0 12px 0 0;
}

.header-element-left:hover {
    color: #f2b686;
}

.header-divide{
    height: 150px;
    width: 2px;
    background-color: white;
}

.header-right {
    margin-top: 100px;
}

.header-element-right {
    text-align: left;
    font-size: 1.8em;
    color: white;
    margin: 0 0 0 12px;
}

main {
    display: flex;
}



.social {
    position: sticky;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 450px) {
    
}