/* ____________ All Pages ____________ */

/* Style Guide
Colors:
Darkest: #1e2328
Blue: #32526d
Grey: #8997a3
White: #f6f7f9
Celeste: #5fb2a6
*/

    * {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #f6f7f9;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* ____________ Nav ____________ */

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100vw;
    }

    .nav-name {
        width: 90vw;
        margin: 0;
        font-size: 2.5vh;
        text-decoration: none;
        text-align: right;
        color: #1e2328;
    }

    .nav-line {
        width: 90vw;
        margin: 5px 0;
        color: #1e2328;
    }

    .nav-links {
        display: flex;
        width: 90vw;
        margin: 0;
    }

    .link {
        margin-right: 10px;
        font-size: 2.5vh;
        font-weight: bolder;
        text-decoration: none;
        color: #1e2328;
    }

    .link:hover {
        cursor: pointer;
        color: #5eb2a6;
    }

    /* ____________________________________ Main ____________________________________ */

    /* ____________ Splash ____________ */

    .splash-img-weddingCakeStand {
        height: 30vw;
        width: 90vw;
        margin: 0;
        background-image: url('/images/productDesign/weddingCakeStand/weddingCakeStandSpalsh.jpg');
        background-size: 50vw;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* ____________ Header ____________ */

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

    .header-title {
        font-size: 1.65em;
        font-weight: bolder;
        margin: 0;
        color: #1e2328;
    }


    .links-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links {
        text-decoration: none;
        margin: 1vw;
        font-size: 1.5vw;
        font-weight: 300;
    }

    /* ____________ Content ____________ */

    .panel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-shadow: 0px 0px 2px 1px #BABABA;
        height: 45vw;
        width: 100vw;
    }

    .panel:nth-child(odd) {
        background-color: #efefef;
    }

    .img-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40vw;
    }

    .img-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40vw;
    }

    .text-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60vw;
    }

    .text-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60vw;
    }

    .product-img-single {
        height: auto;
        width: 100%;
    }

    .product-img-double {
        height: auto;
        width: 74%;
    }


    /* ____________ Footer ____________ */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
        margin-top: 5vh;
        color: #1e2328;
    }

    .icons {
        height: 50px;
        width: 50px;
        margin: 5px;
    }

    .footer-bottom {
        margin-bottom: 5vh;
    }

    /* ____________ Web Dev Page Mobile ____________ */


    @media only screen and (max-width: 450px) {
        
    }




