/* ____________ All Pages ____________ */

/* Style Guide
Colors:
Darkest: #1e2328
Blue: #32526d
Grey: #8997a3
White: #f6f7f9
Celeste: #5fb2a6
 */

    * {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #f6f7f9;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ____________ Nav ____________ */

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100vw;
    }

    .nav-name {
        width: 90vw;
        margin: 0;
        font-size: 2.5vh;
        text-align: right;
        color: #1e2428;
    }

    .nav-line {
        width: 90vw;
        margin: 5px 0;
        color: #1e2428;
    }

    .nav-links {
        display: flex;
        width: 90vw;
        margin: 0;
    }

    .link {
        margin-right: 10px;
        font-size: 2.5vh;
        font-weight: bolder;
        text-decoration: none;
        color: #1e2428;
    }

    .link:hover {
        cursor: pointer;
        color: #5eb2a6;
    }

    /* ____________________________________ Tools Page ____________________________________ */

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

    .header-title {
        font-size: 1.65em;
        font-weight: bolder;
        margin: 5vh 0;
        color: #1e2428;
    }
    
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
    }
    
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
    }

    .img-container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('');
        background-color: #1e2428;
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
    }

    .img-container1:hover {
        transform: scale(1.1); 
    }

    .img-title1 {
        opacity: 0;
        padding: 50vh 50vw;
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
        text-decoration: none;
        color: white;
    }

    .img-title1:hover {
        opacity: 100;
        background-color: rgba(30, 36, 40, 0.5);
    }

    /* ____________ Footer ____________ */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    .icons {
        height: 50px;
        width: 50px;
        margin: 5px;
    }

    .footer-top {
        margin-top: 5vh;
    }

    .footer-bottom {
        margin-bottom: 5vh;
    }

    /* ____________ About Page Mobile ____________ */

