/* ____________ All Pages ____________ */

/* Style Guide
Colors:
Darkest: #1e2328
Blue: #32526d
Grey: #8997a3
White: #f6f7f9
Celeste: #5fb2a6
*/

    * {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #1e2428;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* ____________ Nav ____________ */

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100vw;
    }

    .nav-name {
        width: 90vw;
        margin: 0;
        font-size: 2.5vh;
        text-align: right;
        color: #f6f7f9;
    }

    .nav-line {
        width: 90vw;
        margin: 5px 0;
        color: #f6f7f9;
    }

    .nav-links {
        display: flex;
        width: 90vw;
        margin: 0;
    }

    .link {
        margin-right: 10px;
        font-size: 2.5vh;
        font-weight: bolder;
        text-decoration: none;
        color: #f6f7f9;
    }

    .link:hover {
        cursor: pointer;
        color: #5eb2a6;
    }

    /* ____________ Header ____________ */

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

    .header-title {
        font-size: 1.65em;
        font-weight: bolder;
        margin: 5vh 0;
        color: #f6f7f9;
    }

    /* ____________ Main ____________ */

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
    }

    @keyframes fadeAndRise {
        0% {
            transform: translateY(10%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .img-container10 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/fractionParser.png');
        background-size: 90%;
        background-position: center;
        background-color: white;
        background-repeat: no-repeat;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
    }

    .img-container9 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/makeAMarkTechtonica.png');
        background-size: 90%;
        background-position: center;
        background-color: white;
        background-repeat: no-repeat;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
    }
    .img-container9:hover {
        transform: scale(1.1); 
    }

    .img-container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/screenshots/tractuPharma.png');
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
        animation-delay: 0.1s;
    }
    .img-container1:hover {
        transform: scale(1.1); 
    }

    .img-container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/screenshots/reactFinalProject.png');
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
        animation-delay: .2s;
    }
    .img-container2:hover {
        transform: scale(1.1); 
    }

    .img-container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/screenshots/reactPersonalSite.png');
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
        animation-delay: .3s;
    }
    .img-container3:hover {
        transform: scale(1.1); 
    }

    .img-container4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/CR/compassRose.png');
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
        animation-delay: .4s;
    }
    .img-container4:hover {
        transform: scale(1.1); 
    }

    .img-container5 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/CEL/celeste1.png');
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
        animation-delay: .5s;
    }
    .img-container5:hover {
        transform: scale(1.1); 
    }

    .img-container6 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/screenshots/2ndPersonalWebsite.png');
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
        animation-delay: .6s;
    }
    .img-container6:hover {
        transform: scale(1.1); 
    }

    .img-container7 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/screenshots/firstPersonalWebsite.png');
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
        animation-delay: .7s;
    }
    .img-container7:hover {
        transform: scale(1.1); 
    }

    .img-container8 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vw;
        width: 25vw;
        overflow: hidden;
        margin: 1vw;
        box-shadow: 0px 0px 7px -2px #BABABA;
        border-radius: 1vh;
        background-image: url('/images/screenshots/pythonFlashCard.png');
        background-size: 65vh;
        background-position: center;
        transition: transform 0.5s;
        animation: fadeAndRise 1s ease forwards;
        opacity: 0;
        animation-delay: .8s;
    }
    .img-container8:hover {
        transform: scale(1.1); 
    }

    .img-title {
        opacity: 0;
        padding: 20vh;
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
        text-decoration: none;
        color: white;
    }

    .img-title:hover {
        opacity: 100;
        background-color: rgba(30, 36, 40, 0.5);
    }

    /* ____________ Footer ____________ */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
        margin-top: 5vh;
        color: #f6f7f9;
    }

    .icons {
        height: 50px;
        width: 50px;
        margin: 5px;
    }

    .footer-bottom {
        margin-bottom: 5vh;
    }

    /* ____________ Web Dev Page Mobile ____________ */


    @media only screen and (max-width: 450px) {
        
    }




